<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
        <argument name="collections" xsi:type="array">
            <item name="mjfox_education_education_listing_data_source" xsi:type="string">Mjfox\Education\Model\ResourceModel\Education\Collection</item>
        </argument>
    </arguments>
</type>
<virtualType name="Mjfox\Education\Model\ResourceModel\Education\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
        <argument name="mainTable" xsi:type="string">mjfox_education</argument>
        <argument name="resourceModel" xsi:type="string">Mjfox\Education\Model\ResourceModel\Education</argument>
    </arguments>
</virtualType>
</config>
